
data/ALG2_JKB1a_X02a_RADjh1/ALG2_JKB1a_X02a_RADjh1.bxds1.WHOLE
*.xds
data/ALG2_JKB1a_X02a_RADjh1/ALG2_JKB1a_X02a_RADjh1.bxds1.00
data/ALG2_JKB1a_X02a_RADjh1/ALG2_JKB1a_X02a_RADjh1.bxds1.01
data/ALG2_JKB1a_X02a_RADjh1/ALG2_JKB1a_X02a_RADjh1.bxds1.02
data/ALG2_JKB1a_X02a_RADjh1/ALG2_JKB1a_X02a_RADjh1.bxds1.03
